html, body {
  overflow-x:hidden;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", Times, serif;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}
p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height:32px;
  font-weight 300;
}

/*GRID*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position:relative;
  width: 94%;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width: 96%;
  float: left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}


/*HEADER*/
header {
  background: #f58235;
  padding-top: 30px;
  .Left_Navigation {
  background-image: -webkit-linear-gradient( 30deg, rgb(52,73,94) 0%, rgb(95,129,163) 100%);
  position: absolute;
  left: -3px;
  top: 40px;
  width: 1443px;
  }
}
header nav {
  text-align: center;
}
header nav ul {
  display: inline;
  text-align: left;
  float: right;
}
header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 11px;
}
header nav ul li a {
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  font-size: 18px;
  color:#FFFFFF;
  text-decoration: none;
}
header .hero {
  background:url('../images/header.jpg') top center no-repeat;
  width: auto;
  background-size: cover;
  text-align: center;
  display: block;
  position: relative;
  padding-bottom: 40px;
}
header .hero h1 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 118px;
  color: white;
  line-height: 40px;
}
header .hero span {
  font-family: "Rock Salt", cursive;
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;
}
header .hero p {
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  line-height: 26px;
  font-weight: 100;
  margin-top: 110px;
}
header .hero a {
  text-decoration: none;
  color: white;
}
header .hero a:hover {
  text-decoration: none;
  color: #f58235;
}
/*ABOUT*/
#about {
  background: #e8dba5;
  padding: 30 0 30 0;
}
#about img {
  border-radius: 50%;
  margin-top: 70px;
  float: left;
  max-width: 100%;
  clear: both;
}
#about a {
  text-decoration: none;
  color: #333333;
}
#about a:hover {
  color: #5b5b5b
}

/*ADOPTION*/
#adopt {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 70px;
  background: #8f6d56;
  color: white;
}
#adopt p {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
}
#adopt li.one-fourth {
  list-style-type: none;
}
#adopt ul li img {
  border-radius: 50%;
}
#adopt ul > li > p {
  font-family: "Rock Salt", cursive;
  font-size: 30px;
}
#adopt ul > li > p > span {
  font-family: "Rock Salt", cursive;
  font-size: 20px;
}
#adopt .box {
  width: 60%;
  float: none;
  background-color: #f58235;
  padding: 2  0 2  0;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
#adopt .box p {
  text-align: center;
  text-transform: uppercase;
}
#adopt .box a {
  text-decoration: none;
  color: white;
}
#adopt .box a:hover {
  text-decoration: none;
  color: #5b5b5b;
}

/*DONATIONS*/
#donate {
  padding-top: 30px;
  background: #e8e8e8;
}
#donate img {
  margin-top: -80px;
  float: left;
  padding-right: 100px;
  max-width: 100%;
}
#donate .container .small p {
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  margin-top: 0;
}
/*BUTTONS*/
.btn {
  border-radius: 4px;
  text-align: center;
  color:white;
  font-weight: 700;
  font-size: 25px;
  padding: 20px 30px;
  text-decoration: none;
  background: #f58235;
}
.btn span {
  font-family: "Rock Salt", cursive;
}

/*FAQ*/
#faq {
  padding-top: 30px;
  padding-bottom: 60px;
  background: #5b5b5b;
  color: white;
}
#faq h2 {
    text-align: center;
}
#faq h3 {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#faq p {
  margin: 0;
  padding: 0 0 20 0;
}
#faq .box {
  width: 60%;
  background-color: #f58235;
  padding: 2  0 2  0;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
#faq .box p {
  font-weight: 300;
  padding-top: 17px;
  text-align: center;
  text-transform: uppercase;
}
#faq .box a {
  text-decoration: none;
  color: white;
}
#faq .box a:hover {
  text-decoration: none;
  color: #5b5b5b;
}
/*CONTACT*/
#contact {
  padding-top: 50px;
  padding-bottom: 40px;
  background: #e8dba5
}
#contact .map {
  margin-top: 30px;
  border-radius: 50%;
  float: left;
}
#contact h2 {
  margin: 0;
}
#contact a {
  text-decoration: none;
  color: #333333;
}
#contact a:hover {
  text-decoration: none;
  color: #5b5b5b;
}

/*FOOTER*/
footer {
  background-color: #f58235;
  color: #FFFFFF;
  height: auto;
}
footer p, footer nav ul {
  font-size: 18px;
  font-weight: 100;
  text-align: center;

}
footer nav ul li {
  list-style-type: none;
  display: inline;
}
footer nav ul li a {
  font-family: "Roboto Slab", Times, serif;
  text-decoration: none;
  color: white;
  padding: 5px;
}
footer .copyright-block {
  text-align: center;
}
footer .social {
  text-align: center;
  margin-left: -20;
}
footer .social a {
  font-size: 30px;
  color: #FFFFFF;
  padding-left: 30px;
}
footer .links {
  text-align: left;
  margin-left: -20;
}

/*MEDIA STYLES*/
@media (min-width: 320px) {
  .container {
    width: 95%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 96%;
  }
  header nav .one-half {
    width: auto;
  }
  header nav {
    text-align: left;
  }
  header .hero h1 {
    font-size: 50px;
    line-height: 60px;
  }
  header .hero span {
    font-size: 50px;
    line-height: 60px;
  }
  header .hero p {
    margin-top: 200px;
    font-size: 26px;
    line-height: 34px;
  }
  h2 {
    font-size: 40px;
  }
  p {
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
  }
  #about img {
    float: none;
  }
  #donate .container .small p {
  font-size: 16px;
  line-height: 20px;
  }
  #faq h3 {
    font-size: 25px;
  }
  #contact {
    text-align: center;
  }
  #contact .map {
    float: none;
  }
  footer p, footer nav ul {
    font-size: 25px;
  }
  footer .social a {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width: 46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width: 21%;
  }
  header nav .one-half {
    width: 46%;
  }
  header nav ul {
    float:right;
    text-align: left;
  }
  header nav ul li a {
    font-size: 19px;
  }
  header .hero {
    height: 850px;
  }
  header  .hero h1 {
    font-size: 70px;
    margin-top: 250px;
    line-height: 90px;
  }
  header .hero span {
    font-size: 70px;
    line-height: 90px;
  }
  header .hero p {
    margin-top: 250px;
    font-size: 30px;
    line-height: 40px;
  }
  h2 {
    font-size: 50px;
  }
  p {
  font-size: 25px;
  line-height:40px;
  }
  .btn {
    margin-left: -25px;
  }
  #about img {
    float: left;
    margin-top: 120px;
  }
  #about p {
    font-size: 25px;
    line-height: 40px;
    font-weight: 300;
  }
  #donate .small p {
  font-size: 16px;
  line-height: 20px;
  clear: both;
  }
  #faq h3 {
    font-size: 25px;
  }
  #contact {
    text-align: left;
  }
  #contact .map {
    float: none;
  }
  #contact .logo {
    margin-top: 100px;
  }
  footer p, footer nav ul {
    font-size: 18px;
  }
  footer .social {
    padding-top: 25px;
    width: 300px;
    text-align: center;
  }
  footer .social a {
    font-size: 30px;
  }
  footer .links {
    width: auto;
    text-align: left;
    float: right;
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width:1920px) {
  .container {
    width: 1400px;
  }
}
